:root {
  --accent-color: #b2e7e9;
  --brand-primary: #5a5b8c;
  --brand-secondary: #45a9c9;
  --brand-primary-rgb: 90, 91, 140;
  --brand-secondary-rgb: 69, 169, 201;
  --accent-rgb: 178, 231, 233;
  --monitoring-overlay: #45a9c9;
  --map-accent: #45a9c9;
  --map-accent-2: #5a5b8c;
  --map-accent-rgb: 69, 169, 201;
  --lab-header-bg: linear-gradient(155deg, #fff 20%, #fff7db 73%);
  --lab-header-dark-bg: linear-gradient(155deg, #555681 0%, #414269 58%, #2b2c4c 100%);
  --lab-footer-bg: linear-gradient(135deg, #5a5b8c 0%, #45a9c9 100%);
  --lab-footer-dark-bg: linear-gradient(135deg, #414269 0%, #276b80 100%);
  --maps-header-bg: #5a5b8c;
  --maps-header-dark-bg: #414269;
  --dark-accent: #73d2e6;
  --dark-accent-hover: #a8e4ef;
  --dark-accent-rgb: 115, 210, 230;
}
