<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-lab static-top" aria-label="Navegação principal">
  <a class="navbar-brand ms-4" href="index.html">
    <img
      loading="eager"
      src="assets/img/logonova1.png"
      alt="LabMiM Logo"
      width="1280"
      height="409"
      class="brand-logo"
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Alternar navegação"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      {{NAV_ITEMS}}
    </ul>

    <button
      type="button"
      id="themeToggleBtn"
      class="btn btn-outline-light me-3"
      title="Alternar Tema"
      aria-label="Alternar Tema"
    >
      <i id="themeIcon" class="fas fa-moon" aria-hidden="true"></i>
    </button>
    <a href="https://www.cienam.ufba.br" target="_blank" rel="noopener" class="me-3">
      <img
        loading="lazy"
        src="assets/img/logo_cienam.png"
        alt="CIEnAm"
        width="834"
        height="290"
        class="brand-logo-sm"
      />
    </a>
  </div>
</nav>
